.Rhistory
.Rprofile
*.csv
*.sav
*.sas7bdat
*.xlsx
*.xls
*.pdf
*.fff
*.log
*.tex
*.html
.Rproj.user
doc/
QTDublinIrish.otf
_extensions
datas
plan_naco_files
multi.R
stat_naco_1h.rmarkdown
stat_naco_1h_files
stat_naco_1p_cache
a faire
